* {
  padding: 0;
  margin: 0;
}
a {
  color: #fff !important;
  text-decoration: none !important;
  padding: 10px 10px;
}
.active {
  color: #fff !important;
  background: #1a1f37 !important;
  /* padding: 7px 10px; */
  display: block;
  border-radius: 10px;
}
.bg-sidebar-color {
  background-color: #070b28 !important;
}
.body-color {
  background-color: #1b1b3b;
}
.navbarInput:checked {
  background-color: red !important;
}
.reg-color {
  color: #6a748b;
}
.t_test thead tr td,
.t_test tbody tr td {
  background: transparent !important;
  color: #fff;
}
#t_test {
  background-color: transparent !important;
}

.nav-bg {
  background-color: #161840 !important;
}
.signup-btn-color {
  background-color: #7c4abb !important ;
  color: #fff !important;
}
.home-content {
  width: 76% !important;
}
.sidebar {
  width: 24% !important;
}
.billing_color {
  background-color: #0d40a2 !important;
}
.bg-credit {
  background-color: #1f264b !important;
}
.profile-bg {
  background-color: #3234a9 !important;
}
.welcome_bg {
  background-color: #803fff !important;
}
.invoices_span {
  color: #6a748b;
  font-size: 14px;
  font-weight: 500;
}
.fs-7 {
  font-size: 14px !important;
}
.details_color {
  color: #848ea6 !important;
}
.date_style {
  color: #848ea6 !important;
  font-size: 15px;
}
