* {
  padding: 0;
  margin: 0;
}
a {
  color: #fff !important;
  text-decoration: none !important;
  padding: 10px 10px;
}
.active {
  color: #fff !important;
  background: #1a1f37 !important;
  /* padding: 7px 10px; */
  display: block;
  border-radius: 10px;
}
.bg-sidebar-color {
  background-color: #070b28 !important;
}
.body-color {
  background-color: #1b1b3b;
}
